*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/Webjump
!/app/code/Webjump/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/build_options.ini
!/composer.json
!/composer.lock
!/package.json
!/package-lock.json
!/Gruntfile.js
!/.eslintrc
!/.eslintignore
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/op-exclude.txt
!/update
!/update/.htaccess
!/README.md
!/.github
!/.github/*
!/pull_request_template.md
!/.docker
!/.docker/config
!/.docker/config/logs
!/.docker/config/logs/.keep
!/.docker/config/mariadb
!/.docker/config/mariadb/data
!/.docker/config/mariadb/data/.keep
!/.docker/config/mariadb/etc
!/.docker/config/mariadb/etc/my.cnf
!/.docker/config/nginx
!/.docker/config/nginx/*
!/.docker/config/php
!/.docker/config/php/*
!/docker-compose.yml
!/m2-modules
!/m2-modules/*
!/eslint-local-rules.js
!/.pipeline
!/.pipeline/**
