<?xml version="1.0"?>
<!--
/**
 * @author      Webjump Core Team <dev@webjump.com>
 * @copyright   2023 Webjump (https://www.webjump.com.br)
 * @license     https://www.webjump.com.br Copyright
 *
 * @link        https://www.webjump.com.br
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="customform" frontName="customform">
            <module name="Webjump_CustomForm" />
        </route>
    </router>
</config>
